<h1>Accounts#index</h1>
<p>Find me in app/views/accounts/index.html.erb</p>
<table>
  <thead>
    <tr>
      <th>Account Name</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>
<% @accounts.each do |account| %>
    <tr>
    <td><%= account.name %></td>
    <td><%= account.owner.name %></td>
    <td><%= link_to "Go", { action: :show, id: account.id}, method: :get %></td>
    </tr>
<% end %>
</tbody>
</table>